/* colors 
white: #FFFFFF
purple: #A41C68
orange: #FF5C27
dark grey: #252324
light grey: #322f31
*/

body {
    background-color: #252324;
    text-align: center;
    margin: 0px auto;
    font-family: "Sofia", sans-serif;
}
  
p {
    color: #f1f1f1;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.25;
    font-family: "Sofia", sans-serif;
}
  
/* navigation bar */
/* originally from https://www.w3schools.com/howto/howto_js_topnav.asp as a template */
/* Add a black background color to the top navigation */
nav {
    background-color: #252324;
    overflow: hidden;
    position: fixed;
    top: 0; /* keep navigaiton bar at the top of the page at all times */
    z-index: 999; /* source: https://stackoverflow.com/questions/21485018/how-do-i-make-my-navigation-bar-remain-on-top-of-page-while-scrolling */
    width: 100%;
    display: block;
    font-family: "Sofia", sans-serif;
}
  
/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #f1f1f1;
    text-align: center;
    text-decoration: none;
    font-family: "Sofia", sans-serif;
    margin: 0 auto;
    font-size: 28px;
    padding-left: 40px;
}
  
nav ul {
    margin: 20 auto;
    padding: 14px 40px;
    float: right;
}

.HomeLogo {
    padding-top: 25px;
    position: relative center;
}

/* slide show */
/* oritionaly from: https://www.w3schools.com/howto/howto_js_slideshow.asp */
/* Slideshow container */
.slideshow-container {
    padding-top: 80px;
    background-color: #333;
    margin: 0 auto;
}

.slideshow-container img{
    overflow: hidden;
}

/* Hide the images by default  */
.mySlides {
    display: none;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    position: center;
}
  
.mySlides img {
    width: 100%;
    height: 100%;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*search page */
/* search function styles */
#textInput {
    color: #252324;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    background-color: #333;
    border-color: #333;
}
  
.search-container{
    float: center;
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 20px;
}


#List {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: auto 0px;
    gap: 20px;
    justify-content: space-around;
    padding-right: 30px;
  }

button {
    background-color: #e80a79;
    border-radius: 0px;
    border-width: 0px;
}

/*modal*/
